<h1>Number: {{this.number}}</h1>
<button {{action "addNumber"}}>Add</button>

{{#link-to "item" 1 class="product"}}
    {{product-card/image src='/assets/images/beats-solo-red.png'}}
    {{product-card/details}}
{{/link-to}}
